@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  line-height: calc(2px + 2ex + 2px);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip-ink: all;
  text-decoration-skip-ink: all;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --min-width: 8rem;
  --max-width: 15rem;
  --width: clamp(var(--min-width), 30vw, var(--max-width));
  --bg-color: #f3f3f3;
  --border-color: #1a1a1a;
  --controller-clr: #e8e8e8;
  --controller-filter-clr: black;
  --red-text: #cc0000;
  --green-text: #004d00;
  --blue-text: #0000cc;
  --alpha-text: #6b6b6b;
  --title-text-background: linear-gradient(to right, var(--red-text), #e69500, var(--green-text), var(--blue-text), purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --border-color: #f3f3f3;
    --controller-clr: gray;
    --controller-filter-clr: white;
    --red-text: #ff1a1a;
    --green-text: #00e600;
    --blue-text: #3333ff;
    --alpha-text: #b3b3b3;
    --title-text-background: linear-gradient(to right, var(--red-text), #ffc966, var(--green-text), var(--blue-text), #ff80ff);
  }
}
@keyframes shinny {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.flex-container {
  display: flex;
}
.flex__item {
  display: flex;
}
.flex_fxd_column {
  flex-direction: column;
}
.flex_gap {
  gap: 1rem;
}
.flex_gap_lg {
  gap: 1.5rem;
}
.flex_ai_center {
  align-items: center;
}
.flex_jc_space-between {
  justify-content: space-between;
}

.wrapper {
  display: flex;
  background-color: var(--bg-color);
  height: 100%;
  perspective: 75rem;
  perspective-origin: 50% 50%;
  position: relative;
  cursor: var(--pointer-style, grab);
}

.title {
  position: absolute;
  inset: 2rem auto auto 2rem;
  line-height: 1.2;
  background-image: var(--title-text-background);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  user-select: none;
}

.cube {
  width: var(--width);
  aspect-ratio: 1;
  margin: auto;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateX(var(--rotate-vertical-deg, 0deg)) rotateY(var(--rotate-horizontal-deg, 0deg));
}
.cube__side {
  --cube-translateZ: translateZ(calc(var(--width) / 2));
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2.5px solid var(--border-color);
  inset: 0;
  background-color: rgba(var(--red, 255), var(--green, 255), var(--blue, 255), var(--alpha, 0.5));
  cursor: var(--cube-pointer, pointer);
}
.cube__side::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0px 0px 30px 10px rgb(var(--red, 255), var(--green, 255), var(--blue, 255));
  opacity: 0;
  animation: shinny var(--animation-duration, 0s) ease-in-out 0s infinite alternate;
}
.cube__side:focus::after {
  --animation-duration: 1s;
}

.front {
  transform: var(--cube-translateZ);
}

.back {
  transform: rotateY(180deg) var(--cube-translateZ);
}

.left {
  transform: rotateY(-90deg) var(--cube-translateZ);
}

.right {
  transform: rotateY(90deg) var(--cube-translateZ);
}

.top {
  transform: rotateX(90deg) var(--cube-translateZ);
}

.bottom {
  transform: rotateX(-90deg) var(--cube-translateZ);
}

.controller {
  display: flex;
  width: min(80%, 20rem);
  position: absolute;
  inset: auto auto 2rem 2rem;
  padding-block: 1rem;
  border-radius: 1rem;
  background-color: var(--controller-clr, #eee);
  filter: drop-shadow(0 0 0.5rem var(--controller-filter-clr));
  font-size: 1.25rem;
  cursor: auto;
  user-select: none;
}
.controller__container {
  width: 90%;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
}
.controller__name {
  font-weight: 900;
  font-size: 2rem;
  margin-right: -0.5rem;
}
.controller__name[for=red] {
  color: var(--red-text);
}
.controller__name[for=green] {
  color: var(--green-text);
}
.controller__name[for=blue] {
  color: var(--blue-text);
}
.controller__name[for=alpha] {
  color: var(--alpha-text);
}
.controller__bar {
  -webkit-appearance: none;
  width: 10rem;
  height: 1.25rem;
  border-radius: 5px;
}
.controller__bar:focus {
  outline: none;
}
.controller__bar[name=red] {
  background-image: linear-gradient(to left, white, var(--red-text), black);
  box-shadow: 0 0 2px 1px var(--red-text);
}
.controller__bar[name=red]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to left, white, var(--red-text), black);
  height: 1.25rem;
  border-radius: 5px;
}
.controller__bar[name=red]::-webkit-slider-thumb {
  box-shadow: 0 0 2px 1px var(--red-text);
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  appearance: none;
  background-color: white;
  transform: translateY(-0.125rem);
  cursor: grab;
}
.controller__bar[name=red]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--red-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=red]::-moz-range-thumb {
  box-shadow: 0 0 2px 1px var(--red-text);
  border: none;
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  cursor: grab;
}
.controller__bar[name=red]:focus::-moz-range-thumb {
  outline: 3px solid var(--red-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=green] {
  background-image: linear-gradient(to left, white, var(--green-text), black);
  box-shadow: 0 0 2px 1px var(--green-text);
}
.controller__bar[name=green]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to left, white, var(--green-text), black);
  height: 1.25rem;
  border-radius: 5px;
}
.controller__bar[name=green]::-webkit-slider-thumb {
  box-shadow: 0 0 2px 1px var(--green-text);
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  appearance: none;
  background-color: white;
  transform: translateY(-0.125rem);
  cursor: grab;
}
.controller__bar[name=green]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--green-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=green]::-moz-range-thumb {
  box-shadow: 0 0 2px 1px var(--green-text);
  border: none;
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  cursor: grab;
}
.controller__bar[name=green]:focus::-moz-range-thumb {
  outline: 3px solid var(--green-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=blue] {
  background-image: linear-gradient(to left, white, var(--blue-text), black);
  box-shadow: 0 0 2px 1px var(--blue-text);
}
.controller__bar[name=blue]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to left, white, var(--blue-text), black);
  height: 1.25rem;
  border-radius: 5px;
}
.controller__bar[name=blue]::-webkit-slider-thumb {
  box-shadow: 0 0 2px 1px var(--blue-text);
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  appearance: none;
  background-color: white;
  transform: translateY(-0.125rem);
  cursor: grab;
}
.controller__bar[name=blue]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--blue-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=blue]::-moz-range-thumb {
  box-shadow: 0 0 2px 1px var(--blue-text);
  border: none;
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  cursor: grab;
}
.controller__bar[name=blue]:focus::-moz-range-thumb {
  outline: 3px solid var(--blue-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=alpha] {
  background-image: linear-gradient(to left, white, var(--alpha-text), black);
  box-shadow: 0 0 2px 1px var(--alpha-text);
}
.controller__bar[name=alpha]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to left, white, var(--alpha-text), black);
  height: 1.25rem;
  border-radius: 5px;
}
.controller__bar[name=alpha]::-webkit-slider-thumb {
  box-shadow: 0 0 2px 1px var(--alpha-text);
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  appearance: none;
  background-color: white;
  transform: translateY(-0.125rem);
  cursor: grab;
}
.controller__bar[name=alpha]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--alpha-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}
.controller__bar[name=alpha]::-moz-range-thumb {
  box-shadow: 0 0 2px 1px var(--alpha-text);
  border: none;
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  cursor: grab;
}
.controller__bar[name=alpha]:focus::-moz-range-thumb {
  outline: 3px solid var(--alpha-text);
  outline-offset: 0.125rem;
  cursor: grabbing;
}

/*# sourceMappingURL=style.css.map */
