/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  line-height: calc(2px + 2ex + 2px);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --min-width: 8rem;
  --max-width: 15rem;
  --width: clamp(var(--min-width), 30vw, var(--max-width));
}
.wrapper {
  display: flex;
  background-color: var(--bg-color, rgb(238, 238, 238));
  height: 100%;
  perspective: 75rem;
  perspective-origin: 50% 50%;
  position: relative;
  cursor: var(--pointer-style, grab);
}

/** 我要做跟隨滑鼠移動的追蹤樣式 */
/** 我要做hover有animation轉動 */
/** 我要做click可以做到隨意面向翻轉 */

.cube {
  width: var(--width);
  aspect-ratio: 1;
  margin: auto;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateX(var(--rotate-x-deg, 0deg)) rotateY(var(--rotate-y-deg, 0deg));
}
.cube__side {
  --cube-translateZ: translateZ(calc(var(--width) / 2));

  position: absolute;
  width: 100%;
  height: 100%;
  opacity: var(--opacity, 0.5);
  border: 2.5px solid var(--border-clr, rgb(0, 0, 0));
  inset: 0;
  background-color: var(--cube-bg-clr, rgb(255, 255, 255));
}
.front {
  transform: var(--cube-translateZ);
}
.back {
  transform: rotateY(180deg) var(--cube-translateZ);
}
.left {
  transform: rotateY(-90deg) var(--cube-translateZ);
}
.right {
  transform: rotateY(90deg) var(--cube-translateZ);
}
.top {
  transform: rotateX(90deg) var(--cube-translateZ);
}
.bottom {
  transform: rotateX(-90deg) var(--cube-translateZ);
}

.controller {
  border: 5px solid #a6a6a6;
  position: absolute;
  inset: auto auto 3% 3%;
}