@mixin controller-name-color($color) {
  @if ($color == 'alpha') {
    color: var(--#{$color}-text);
  } @else {
    color: var(--#{$color}-text);
  }
}
@mixin controller-bar-track-background($color) {
  @if ($color == 'alpha') {
    background-image: linear-gradient(to left, white, var(--alpha-text), black);
  } @else {
    background-image: linear-gradient(to left, white, var(--#{$color}-text), black);
  }
}
@mixin controller-bar-box-shadow($color) {
  @if ($color == 'alpha') {
    box-shadow: 0 0 2px 1px var(--alpha-text);
  } @else {
    box-shadow: 0 0 2px 1px var(--#{$color}-text);
  }
}
@mixin controller-bar-focus-style($color) {
  @if ($color == 'alpha') {
    outline: 3px solid var(--alpha-text);
  } @else {
    outline: 3px solid var(--#{$color}-text);
  }
}