@use 'sass:color';

$colors: ('red', 'green', 'blue', 'alpha');

:root {
  // make value semantic.
  --min-width: 8rem;
  --max-width: 15rem;
  --width: clamp(var(--min-width), 30vw, var(--max-width));

  --bg-color: #{color.adjust(white, $blackness: 5%)};
  --border-color: #{color.adjust(black, $lightness: 10%)};

  --controller-clr: #{color.adjust(white, $blackness: 10%)};
  --controller-filter-clr: black;
  
  --red-text: #{color.adjust(red, $blackness: 20%)};
  --green-text: #{color.adjust(green, $blackness: 20%)};
  --blue-text: #{color.adjust(blue, $blackness: 20%)};
  --alpha-text: #{color.adjust(gray, $blackness: 20%)};

  --title-text-background: linear-gradient(to right, var(--red-text), #{color.adjust(orange, $blackness: 10%)}, var(--green-text), var(--blue-text), purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{color.adjust(black, $lightness: 10%)};
    --border-color: #{color.adjust(white, $blackness: 5%)};

    --controller-clr: #{color.adjust(white, $blackness: 100%)};
    --controller-filter-clr: white;

    --red-text: #{color.adjust(red, $lightness: 5%)};
    --green-text: #{color.adjust(green, $lightness: 20%)};
    --blue-text: #{color.adjust(blue, $lightness: 10%)};
    --alpha-text: #{color.adjust(gray, $lightness: 20%)};

    --title-text-background: linear-gradient(to right, var(--red-text), #{color.adjust(orange, $lightness: 20%)}, var(--green-text), var(--blue-text), #{color.adjust(purple, $lightness: 50%)});
  }
}