@use '../abstract/variables' as var;
@use '../abstract/mixins' as mixin;

.controller {
  display: flex;
  width: min(80%, 20rem);
  position: absolute;
  inset: auto auto 2rem 2rem;
  padding-block: 1rem;
  border-radius: 1rem;
  background-color: var(--controller-clr, #eee);
  filter: drop-shadow(0 0 0.5rem var(--controller-filter-clr));
  font-size: 1.25rem;
  cursor: auto;
  user-select: none;
  &__container {
    width: 90%;
    margin: auto;
    list-style-type: none;
    padding-left: 0;
  }
  &__name {
    font-weight: 900;
    font-size: 2rem;
    margin-right: -0.5rem;
    @each $value in var.$colors {
      &[for="#{$value}"] {
        @include mixin.controller-name-color(($value))
      }
    }
  }
  &__bar {
    -webkit-appearance: none;
    width: 10rem;
    height: 1.25rem;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
    @each $value in var.$colors {
      &[name="#{$value}"] {
        @include mixin.controller-bar-track-background($value);
        @include mixin.controller-bar-box-shadow($value);
        &::-webkit-slider-runnable-track {
          @include mixin.controller-bar-track-background($value);
          height: 1.25rem;
          border-radius: 5px;
        }
        &::-webkit-slider-thumb {
          @include mixin.controller-bar-box-shadow($value);
          width: 0.5rem;
          height: 1.5rem;
          border-radius: 1rem;
          appearance: none;
          background-color: white;
          transform: translateY(-0.125rem);
          cursor: grab;
        }
        &:focus::-webkit-slider-thumb {
          @include mixin.controller-bar-focus-style($value);
          outline-offset: 0.125rem;
          cursor: grabbing;
        }
        &::-moz-range-thumb {
          @include mixin.controller-bar-box-shadow($value);
          border: none;
          width: 0.5rem;
          height: 1.5rem;
          border-radius: 1rem;
          background-color: white;
          cursor: grab;
        }
        &:focus::-moz-range-thumb {
          @include mixin.controller-bar-focus-style($value);
          outline-offset: 0.125rem;
          cursor: grabbing;
        }
      }
    }
  }
}