.flex {
  &-container {
    display: flex;
  }
  &__item {
    display: flex;
  }
  &_fxd_column {
    flex-direction: column;
  }
  &_gap {
    gap: 1rem;
  }
  &_gap_lg {
    gap: 1.5rem;
  }
  &_ai_center {
    align-items: center;
  }
  &_jc_space-between {
    justify-content: space-between;
  }
}